.fret .title {
  color: #999;
  font-size: 12px;
}

.fret .fret_table {
  color: #eee;
}

.fret .nav {
  padding: 10px 0px;
  border-bottom: solid 1px #E6E6FA;
  letter-spacing: -.5em;
}
.fret .nav li {
  display: inline-block;

  letter-spacing: normal;
}
.fret .nav li a {
  display: block;
  padding: 0.5em 1em;
}

.fret .fret_table {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.2;
}
.fret .fret_table tr.thead td{
  background-color: #d3d3d3;
}
.fret .fret_table .thead td{
  font-weight: bold;
}
.fret .fret_table td {
  width: 4em;
  padding: 0.1em 0;
  vertical-align: top;
  border-right: 1px solid #d9d9d9;
  background-image: url(../img/dot_gray.png);
  background-repeat: repeat-x;
  background-size: 1px 2px;
  background-position: center;
}
.fret .fret_table td:first-child {
  border-right: 3px solid #d9d9d9;
}
.fret .fret_table .fret_position td {
  border-right: none;
  background: none;
}
.fret .fret_table .fret_position .p_3,
.fret .fret_table .fret_position .p_5,
.fret .fret_table .fret_position .p_7,
.fret .fret_table .fret_position .p_9,
.fret .fret_table .fret_position .p_12,
.fret .fret_table .fret_position .p_15,
.fret .fret_table .fret_position .p_17,
.fret .fret_table .fret_position .p_19,
.fret .fret_table .fret_position .p_21 {
  color: #c8c8c8;
}

.fret .n_1 {
  color: red;
}
.fret .n_b9 {
  color: Thistle;
}
.fret .n_9 {
  color: Plum;
}
.fret .n_b3 {
  color: #98c3e3;
}
.fret .n_3 {
  color: #1296FA;
}
.fret .n_11 {
  color: #4FD6CF;
}
.fret .n_b5 {
  color: #99C699;
}
.fret .n_5 {
  color: #2da62d;
}
.fret .n_b13 {
  color: #E1CCB1;
}
.fret .n_13 {
  color: GoldenRod;
}
.fret .n_b7 {
  color: #FFD700;
}
.fret .n_M7 {
  color: #FFBA19;
}


.fret .major_seventh .n_1,
.fret .major_seventh .n_3,
.fret .major_seventh .n_5,
.fret .major_seventh .n_M7 {
  background-color: #FEF7CC;
}

.fret .seventh .n_1,
.fret .seventh .n_3,
.fret .seventh .n_5,
.fret .seventh .n_b7 {
  background-color: #FEF7CC;
}

.fret .minor_seventh .n_1,
.fret .minor_seventh .n_b3,
.fret .minor_seventh .n_5,
.fret .minor_seventh .n_b7 {
  background-color: #FEF7CC;
}

.fret .Cm7b5 .n_1,
.fret .Cm7b5 .n_b3,
.fret .Cm7b5 .n_b5,
.fret .Cm7b5 .n_b7 {
  background-color: #FEF7CC;
}

.fret .major_scale .n_1,
.fret .major_scale .n_9,
.fret .major_scale .n_3,
.fret .major_scale .n_11,
.fret .major_scale .n_5,
.fret .major_scale .n_13,
.fret .major_scale .n_M7 {
  background-color: #FEF7CC;
}

.fret .altered_scale .n_1,
.fret .altered_scale .n_b9,
.fret .altered_scale .n_b3,
.fret .altered_scale .n_3,
.fret .altered_scale .n_b5,
.fret .altered_scale .n_b13,
.fret .altered_scale .n_b7 {
  background-color: #FEF7CC;
}

.fret .minor_pentatonic .n_1,
.fret .minor_pentatonic .n_b3,
.fret .minor_pentatonic .n_3,
.fret .minor_pentatonic .n_11,
.fret .minor_pentatonic .n_5,
.fret .minor_pentatonic .n_b7 {
  background-color: #FEF7CC;
}


.fret .ionian .n_1,
.fret .ionian .n_9,
.fret .ionian .n_3,
.fret .ionian .n_11,
.fret .ionian .n_5,
.fret .ionian .n_13,
.fret .ionian .n_M7 {
  background-color: #FEF7CC;
}

.fret .dorian .n_1,
.fret .dorian .n_9,
.fret .dorian .n_b3,
.fret .dorian .n_11,
.fret .dorian .n_5,
.fret .dorian .n_13,
.fret .dorian .n_b7 {
  background-color: #FEF7CC;
}

.fret .phrygian .n_1,
.fret .phrygian .n_b9,
.fret .phrygian .n_b3,
.fret .phrygian .n_11,
.fret .phrygian .n_5,
.fret .phrygian .n_b13,
.fret .phrygian .n_b7 {
  background-color: #FEF7CC;
}

.fret .lydian .n_1,
.fret .lydian .n_9,
.fret .lydian .n_3,
.fret .lydian .n_b5,
.fret .lydian .n_5,
.fret .lydian .n_13,
.fret .lydian .n_M7 {
  background-color: #FEF7CC;
}

.fret .mixolydian .n_1,
.fret .mixolydian .n_9,
.fret .mixolydian .n_3,
.fret .mixolydian .n_11,
.fret .mixolydian .n_5,
.fret .mixolydian .n_13,
.fret .mixolydian .n_b7 {
  background-color: #FEF7CC;
}

.fret .aeolian .n_1,
.fret .aeolian .n_9,
.fret .aeolian .n_b3,
.fret .aeolian .n_11,
.fret .aeolian .n_5,
.fret .aeolian .n_b13,
.fret .aeolian .n_b7,
.fret .aeolian .n_M7 {
  background-color: #FEF7CC;
}

.fret .locrian .n_1,
.fret .locrian .n_b9,
.fret .locrian .n_b3,
.fret .locrian .n_11,
.fret .locrian .n_b5,
.fret .locrian .n_b13,
.fret .locrian .n_b7 {
  background-color: #FEF7CC;
}



.fret .sharp_note {
  color: #eee;
}

.major_of_mode,
.minor_of_mode {
  padding: 0px 5px;
  display:inline-block;
  opacity: 1;
}
.mode.major .title,
.mode.minor .title,
.major_of_mode:link,
.minor_of_mode:link{
  color: #eee;
}
.major_of_mode:visited,
.minor_of_mode:visited {
  color: #eee;
}

.mode.major .title,
.major_of_mode {
  background-color: #eac12c;
}
.mode.minor .title,
.minor_of_mode {
  background-color: #4585a8;
}
