body {
  min-width: 60em;
  font-family: Menlo,　Courier, Monaco, monospace;
  font-size: 12px;
  color: #999;
  line-height: 1;
}

body > section {
  padding: 10px 15px 5px;
}
body > section > ul > li {
  color: #ccc;
  white-space: nowrap;
}

a:link {
  color: #ccc;
}
a:visited {
  color: #ccc;
}
a:hover {
  color: #888;
}
a:active {
  color: #888;
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eee;
  border: 0;
}

.gnav {
  background-color: #eee;
  letter-spacing: -.5em;
}
.gnav li {
  display: inline-block;
  border-right: solid 1px #e1e1e1;
  letter-spacing: normal;
}
.gnav li a {
  display: block;
  padding: 0.5em 1em;
  color: #888;
  text-decoration: none;
}
.gnav li a:hover {
  background-color: #aaa;
}

.nav {
  padding: 10px 0px;
  border-bottom: solid 1px #E6E6FA;
  letter-spacing: -.5em;
}
.nav li {
  display: inline-block;

  letter-spacing: normal;
}
.nav li a {
  display: block;
  padding: 0.5em 1em;
}

.go_to_top {
  padding-bottom: 20px;
}



.fret .title {
  color: #999;
  font-size: 12px;
}

.fret .fret_table {
  color: #eee;
}

.fret .fret_table {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.2;
}
.fret .fret_table tr.thead td{
  background-color: #d3d3d3;
}
.fret .fret_table .thead td{
  font-weight: bold;
}
.fret .fret_table td {
  width: 4em;
  padding: 0.1em 0;
  vertical-align: top;
  border-right: 1px solid #d9d9d9;
  background-image: url(../img/dot_gray.png);
  background-repeat: repeat-x;
  background-size: 1px 2px;
  background-position: center;
}
.fret .fret_table tr:nth-child(n+2):nth-child(-n+3) {
  background-color: #fbfbf8;
}
.fret .fret_table td:first-child {
  border-right: 3px solid #d9d9d9;
}
.fret .fret_table .fret_position td {
  border-right: none;
  background: none;
}
.fret .fret_table .fret_position .p_3,
.fret .fret_table .fret_position .p_5,
.fret .fret_table .fret_position .p_7,
.fret .fret_table .fret_position .p_9,
.fret .fret_table .fret_position .p_12,
.fret .fret_table .fret_position .p_15,
.fret .fret_table .fret_position .p_17,
.fret .fret_table .fret_position .p_19,
.fret .fret_table .fret_position .p_21 {
  color: #c8c8c8;
}

.fret .n_1 {
  color: #ff5e5e;
  font-weight: bold;
}
.fret .n_b9,
.fret .n_9 {
  color: #DDA0DD;
}
.fret .n_b3,
.fret .n_3 {
  color: #1296FA;
}
.fret .n_11 {
  color: #4FD6CF;
}
.fret .n_b5,
.fret .n_5 {
  color: #2da62d;
}
.fret .n_b13,
.fret .n_13 {
  color: #DAA520;
}
.fret .n_b7,
.fret .n_M7 {
  color: #FFBA19;
}

.fret .major_seventh .n_1,
.fret .major_seventh .n_3,
.fret .major_seventh .n_5,
.fret .major_seventh .n_M7 {
  background-color: #FEF8D6;
}

.fret .seventh .n_1,
.fret .seventh .n_3,
.fret .seventh .n_5,
.fret .seventh .n_b7 {
  background-color: #FEF8D6;
}

.fret .minor_seventh .n_1,
.fret .minor_seventh .n_b3,
.fret .minor_seventh .n_5,
.fret .minor_seventh .n_b7 {
  background-color: #FEF8D6;
}

.fret .Cm7b5 .n_1,
.fret .Cm7b5 .n_b3,
.fret .Cm7b5 .n_b5,
.fret .Cm7b5 .n_b7 {
  background-color: #FEF8D6;
}

.fret .major_scale .n_1,
.fret .major_scale .n_9,
.fret .major_scale .n_3,
.fret .major_scale .n_11,
.fret .major_scale .n_5,
.fret .major_scale .n_13,
.fret .major_scale .n_M7 {
  background-color: #FEF8D6;
}

.fret .altered_scale .n_1,
.fret .altered_scale .n_b9,
.fret .altered_scale .n_b3,
.fret .altered_scale .n_3,
.fret .altered_scale .n_b5,
.fret .altered_scale .n_b13,
.fret .altered_scale .n_b7 {
  background-color: #FEF8D6;
}

.fret .minor_pentatonic .n_1,
.fret .minor_pentatonic .n_b3,
.fret .minor_pentatonic .n_11,
.fret .minor_pentatonic .n_5,
.fret .minor_pentatonic .n_b7 {
  background-color: #FEF8D6;
}

.fret .ionian .n_1,
.fret .ionian .n_9,
.fret .ionian .n_3,
.fret .ionian .n_11,
.fret .ionian .n_5,
.fret .ionian .n_13,
.fret .ionian .n_M7 {
  background-color: #FEF8D6;
}

.fret .dorian .n_1,
.fret .dorian .n_9,
.fret .dorian .n_b3,
.fret .dorian .n_11,
.fret .dorian .n_5,
.fret .dorian .n_13,
.fret .dorian .n_b7 {
  background-color: #FEF8D6;
}

.fret .phrygian .n_1,
.fret .phrygian .n_b9,
.fret .phrygian .n_b3,
.fret .phrygian .n_11,
.fret .phrygian .n_5,
.fret .phrygian .n_b13,
.fret .phrygian .n_b7 {
  background-color: #FEF8D6;
}
.fret .phrygian .n_b9,
.fret .phrygian .n_b13 {
  border: 1px dotted #4585a8;
  box-sizing: border-box;
}

.fret .lydian .n_1,
.fret .lydian .n_9,
.fret .lydian .n_3,
.fret .lydian .n_b5,
.fret .lydian .n_5,
.fret .lydian .n_13,
.fret .lydian .n_M7 {
  background-color: #FEF8D6;
}
.fret .lydian .n_b5 {
  border: 1px dotted #eac12c;
  box-sizing: border-box;
}

.fret .mixolydian .n_1,
.fret .mixolydian .n_9,
.fret .mixolydian .n_3,
.fret .mixolydian .n_11,
.fret .mixolydian .n_5,
.fret .mixolydian .n_13,
.fret .mixolydian .n_b7 {
  background-color: #FEF8D6;
}
.fret .mixolydian .n_b7 {
  border: 1px dotted #eac12c;
  box-sizing: border-box;
}

.fret .aeolian .n_1,
.fret .aeolian .n_9,
.fret .aeolian .n_b3,
.fret .aeolian .n_11,
.fret .aeolian .n_5,
.fret .aeolian .n_b13,
.fret .aeolian .n_b7,
.fret .aeolian .n_M7 {
  background-color: #FEF8D6;
}
.fret .aeolian .n_b13 {
  border: 1px dotted #4585a8;
  box-sizing: border-box;
}
.fret .locrian .n_1,
.fret .locrian .n_b9,
.fret .locrian .n_b3,
.fret .locrian .n_11,
.fret .locrian .n_b5,
.fret .locrian .n_b13,
.fret .locrian .n_b7 {
  background-color: #FEF8D6;
}
.fret .locrian .n_b9,
.fret .locrian .n_b5,
.fret .locrian .n_b13 {
  border: 1px dotted #4585a8;
  box-sizing: border-box;
}

.fret .sharp_note {
  opacity: 0.4;
}

.fret .major_of_mode,
.fret .minor_of_mode {
  padding: 0px 5px;
  display:inline-block;
  opacity: 1;
}
.fret .mode.major .title,
.fret .mode.minor .title,
.fret .major_of_mode:link,
.fret .minor_of_mode:link{
  color: #eee;
}
.fret .major_of_mode:visited,
.fret .minor_of_mode:visited {
  color: #eee;
}

.fret .mode.major .title,
.fret .major_of_mode {
  background-color: #eac12c;
}
.fret .mode.minor .title,
.fret .minor_of_mode {
  background-color: #4585a8;
}



.random_key .key {
  padding-top: 1em;
  font-size: 900%;
  font-weight: bold;
  text-align: center;
}



.etc .diatonic_chords,
.etc .key_signature {
  margin-bottom: 30px;
}

.etc .table {
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
  line-height: 1.2;
}
.etc .table tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
.etc .table tr.thead td{
  background-color: #d3d3d3;
}
.etc .table .thead td{
  font-weight: bold;
}
.etc .table th {
    width: 3em;
    padding: 0.7em 0;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
    background-color: #d3d3d3;
}
.etc .table td {
    width: 6em;
    padding: 0.7em 0;
    vertical-align: top;
    border: 1px solid #ccc;
}

.etc .key_signature_group {
  width: 100%;
}
.etc .key_signature_group li {
  float: left;
  margin: 10px 20px;
}
.etc .key_signature_group li img {
  width: 100px;
  height: auto;
}
.etc .key_signature_group li span {
  color: #333;
  text-align: center;
  font-size: 14px;
  display: block;
}



.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


@media screen and (max-width: 375px) {
  body {min-width: 95em;}
}
