body {
  min-width: 111em;
  font-family: Menlo,　Courier, Monaco, monospace;
  font-size: 12px;
  color: #999;
  line-height: 1;
}

body > section {
  padding: 10px 15px 5px;
}
body > section > ul > li {
  color: #ccc;
  white-space: nowrap;
}

a:link {
  color: #ccc;
}
a:visited {
  color: #ccc;
}
a:hover {
  color: #888;
}
a:active {
  color: #888;
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eee;
  border: 0;
}

.gnav {
  background-color: #eee;
  letter-spacing: -.5em;
}
.gnav li {
  display: inline-block;
  border-right: solid 1px #e1e1e1;
  letter-spacing: normal;
}
.gnav li a {
  display: block;
  padding: 0.5em 1em;
  color: #888;
  text-decoration: none;
}
.gnav li a:hover {
  background-color: #aaa;
}

.go_to_top {
  padding-bottom: 20px;
}


.random_key .key {
  padding-top: 1em;
  font-size: 900%;
  font-weight: bold;
  text-align: center;
}


.diatonic_cords .fret_tabile {
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  line-height: 1.2;
}
.diatonic_cords .fret_tabile tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
.diatonic_cords .fret_tabile tr.thead td{
  background-color: #d3d3d3;
}
.diatonic_cords .fret_tabile .thead td{
  font-weight: bold;
}
.diatonic_cords .fret_tabile th {
    width: 3em;
    padding: 0.7em 0;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
    background-color: #d3d3d3;
}
.diatonic_cords .fret_tabile td {
    width: 6em;
    padding: 0.7em 0;
    vertical-align: top;
    border: 1px solid #ccc;
}


@media screen and (max-width: 375px) {
  body {min-width: 186em;}
}
