.title {
  color: #999;
}

.fret_sample .fret_table {
  color: #eee;
}

.fret_sample .nav {
  padding: 10px 0px;
  border-bottom: solid 1px #E6E6FA;
  letter-spacing: -.5em;
}
.fret_sample .nav li {
  display: inline-block;

  letter-spacing: normal;
}
.fret_sample .nav li a {
  display: block;
  padding: 0.5em 1em;
}

.fret_sample .fret_table {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.2;
}
.fret_sample .fret_table tr.thead td{
  background-color: #d3d3d3;
}
.fret_sample .fret_table .thead td{
  font-weight: bold;
}
.fret_sample .fret_table td {
  width: 4em;
  padding: 0.1em 0;
  vertical-align: top;
  border-right: 1px solid #d9d9d9;
  background-image: url(./dot_gray.png);
  background-repeat: repeat-x;
  background-size: 1px 2px;
  background-position: center;
}
.fret_sample .fret_table td:first-child {
  border-right: 3px solid #d9d9d9;
}
.fret_sample .fret_table .fret_position td {
  border-right: none;
  background: none;
}
.fret_sample .fret_table .fret_position .p_3,
.fret_sample .fret_table .fret_position .p_5,
.fret_sample .fret_table .fret_position .p_7,
.fret_sample .fret_table .fret_position .p_9,
.fret_sample .fret_table .fret_position .p_12,
.fret_sample .fret_table .fret_position .p_15,
.fret_sample .fret_table .fret_position .p_17,
.fret_sample .fret_table .fret_position .p_19,
.fret_sample .fret_table .fret_position .p_21 {
  color: #c8c8c8;
}

.fret_sample .all_note .n_1 {
  color: red;
}
.fret_sample .all_note .n_b9 {
  color: Thistle;
}
.fret_sample .all_note .n_9 {
  color: Plum;
}
.fret_sample .all_note .n_b3 {
  color: #98c3e3;
}
.fret_sample .all_note .n_3 {
  color: #1296FA;
}
.fret_sample .all_note .n_11 {
  color: #4FD6CF;
}
.fret_sample .all_note .n_b5 {
  color: #99C699;
}
.fret_sample .all_note .n_5 {
  color: #2da62d;
}
.fret_sample .all_note .n_b13 {
  color: #E1CCB1;
}
.fret_sample .all_note .n_13 {
  color: GoldenRod;
}
.fret_sample .all_note .n_b7 {
  color: #FFD700;
}
.fret_sample .all_note .n_M7 {
  color: #FFBA19;
}


.fret_sample .major_seventh .n_1 {
  color: red;
}
.fret_sample .major_seventh .n_3 {
  color: #1296FA;
}
.fret_sample .major_seventh .n_5 {
  color: #2da62d;
}
.fret_sample .major_seventh .n_M7 {
  color: #FFBA19;
}

.fret_sample .seventh .n_1 {
  color: red;
}
.fret_sample .seventh .n_3 {
  color: #1296FA;
}
.fret_sample .seventh .n_5 {
  color: #2da62d;
}
.fret_sample .all_note .n_b7 {
  color: #FFD700;
}

.fret_sample .minor_seventh .n_1 {
  color: red;
}
.fret_sample .minor_seventh .n_b3 {
  color: #98c3e3;
}
.fret_sample .minor_seventh .n_5 {
  color: #2da62d;
}
.fret_sample .minor_seventh .n_b7 {
  color: #FFD700;
}

.fret_sample .Cm7b5 .n_1 {
  color: red;
}
.fret_sample .Cm7b5 .n_b3 {
  color: #98c3e3;
}
.fret_sample .Cm7b5 .n_b5 {
  color: #99C699;
}
.fret_sample .Cm7b5 .n_b7 {
  color: #FFD700;
}

.fret_sample .major_scale .n_1 {
  color: red;
}
.fret_sample .major_scale .n_9 {
  color: Plum;
}
.fret_sample .major_scale .n_3 {
  color: #1296FA;
}
.fret_sample .major_scale .n_11 {
  color: #4FD6CF;
}
.fret_sample .major_scale .n_5 {
  color: #2da62d;
}
.fret_sample .major_scale .n_13 {
  color: GoldenRod;
}
.fret_sample .major_scale .n_M7 {
  color: #FFBA19;
}

.fret_sample .altered_scale .n_1 {
  color: red;
}
.fret_sample .altered_scale .n_b9 {
  color: Thistle;
}
.fret_sample .altered_scale .n_b3 {
  color: #98c3e3;
}
.fret_sample .altered_scale .n_3 {
  color: #1296FA;
}
.fret_sample .altered_scale .n_b5 {
  color: #99C699;
}
.fret_sample .altered_scale .n_b13 {
  color: #E1CCB1;
}
.fret_sample .altered_scale .n_b7 {
  color: #FFD700;
}

.fret_sample .minor_pentatonic .n_1 {
  color: red;
}
.fret_sample .minor_pentatonic .n_b3 {
  color: #98c3e3;
}
.fret_sample .minor_pentatonic .n_3 {
  color: #1296FA;
}
.fret_sample .minor_pentatonic .n_11 {
  color: #4FD6CF;
}
.fret_sample .minor_pentatonic .n_5 {
  color: #2da62d;
}
.fret_sample .minor_pentatonic .n_b7 {
  color: #FFD700;
}


.fret_sample .sharp_note {
  color: #eee;
}
